<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Lista de Productos</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Nuevo producto:</h4>
      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class='fa fa-gift'></i></div>
          <input ng-model="newProduct.name" type="text" class="form-control" id="nameInput" placeholder="Nombre">
        </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class='fa fa-dollar'></i></div>
            <input ng-model="newProduct.salePrice" type="text" class="form-control" id="saleInput" placeholder="En cuanto lo vendo">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class='fa fa-dollar'></i></div>
            <input ng-model="newProduct.buyPrice" type="text" class="form-control" id="buyInput" placeholder="En cuantp lo compro">
          </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="addProduct()"><i class='fa fa-plus'></i> Agregar</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row"  ng-if="products.length">
    <div class="col-lg-12">
      <div class="actions">
        <button class="btn btn-danger pull-right" ng-click="deleteSelectedProducts()"><i class='fa fa-trash'></i> Eliminar</button>
      </div>
    </div>
    <div class="col-lg-12">
      <table class="table table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" ng-click="selectAllProducts()"></th>
          <th>Nombre</th>
          <th>En cuanto lo vendo</th>
          <th>En cuanto lo compro</th>
          <th>Cambios</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">
          <td><input type="checkbox" class="header-checkbox" value="{{product._id}}" id="{{product._id}}"></td>
          <td ng-if="edit!=product._id">{{product.name}}</td>
          <td ng-if="edit!=product._id">${{product.salePrice}}</td>
          <td ng-if="edit!=product._id">${{product.buyPrice}}</td>
          <td ng-if="edit!=product._id"><button class="btn btn-info btn-xs" ng-click="editProduct(product)" ><i class='fa fa-edit'></i></button></td>
          <td ng-if="edit==product._id"><input type="text" class="form-control" ng-model="product.name"></td>
          <td ng-if="edit==product._id"><input type="text" class="form-control" ng-model="product.salePrice"></td>
          <td ng-if="edit==product._id"><input type="text" class="form-control" ng-model="product.buyPrice"></td>
          <td ng-if="edit==product._id"><button class="btn btn-success btn-xs" ng-click="updateProduct(product)" ><i class='fa fa-check-square-o'></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>MK app</p>
  </div>
</footer>

